body {
    background-color: #ffffff;
    background-image:  repeating-linear-gradient(45deg, #ff9191 25%, transparent 25%, transparent 75%, #ff9191 75%, #ff9191), repeating-linear-gradient(45deg, #ff9191 25%, #ffffff 25%, #ffffff 75%, #ff9191 75%, #ff9191);
    background-position: 0 0, 40px 40px;
    background-size: 80px 80px;
    font-family: Helvetica, sans-serif;
    padding-bottom: 25px;
}

span {
    background-color: #d9d9d9;
    border-style: double;
    border-color: green;
    border-width: 5px;
}

span span {
    border-style: none;
}

.pagetitle {
    font-family: 'Brush Script MT';
    font-size: 60px;
}

#italian {
    color: green;
}

#american {
    color: white;
}

#classics {
    color: red;
}

#hometitle {
    padding: 8px;
}

#homesubtitle {
    padding: 3px;
}

#redsaucetitle {
    padding: 5px;
}

#homeintrotext {
    padding: 2px;
}

.recipe-subheading {
    font-style: italic;
    font-family: 'Brush Script MT';
    font-size: 40px;
}

.subheading {
    padding: 6px;
}

.pagetitle , .pagesubtitle {
    text-align: center;
}

.listelement {
    padding: 4px;
}

li {
    margin: 20px;
}

ul {
    white-space: nowrap; 
    list-style: square;
}

#note {
    padding: 5px;
    font-style: italic;
    display: block;
}

#ragu {
    font-style: italic;
    border-style: none;
    background-color: #6e0101;
}

#returnhome {
    padding: 5px;
    font-weight: bold;
}

#gohome {
    width: 300px;
    margin: auto;
}

#redsauce:hover {
    color: red;
}

#meatballs:hover {
    color: white;
}

#garlicbread:hover {
    color: green;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-color: red;
    border-width: 10px;
}

#homeimage {
    width: 500px;
    height: auto;
}

#homeintro {
    text-align: center;
}

#linkslist {
    text-align: center;
    list-style-type: none;
}